@font-face{
        font-family: "open-sans";
        src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
        font-family: "open-sans-light";
        src: url(../fonts/OpenSans-Light.ttf);
}

@font-face{
        font-family: "open-sans-italic";
        src: url(../fonts/OpenSans-Italic.ttf);
}


*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "open-sans";
}

body{
        overflow-x: hidden;
}

.context{
        width: 90%;
        margin: 0 auto;
}

.flex-row{
        display: flex;
        flex-wrap: wrap;
}

.flex-row-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.flex-row-between-2{
        display: flex;
        justify-content: space-between;
}

.flex-row-center{
        display: flex;
        justify-content: center;
}

.flex-row-around{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}


.botao-1{
        display: block;
        width: 150px;
        min-width: fit-content;
        height: 40px;
        line-height: 20px;
        background-color: #faaa68;
        color: #222222;
        text-decoration: none;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        padding: 2%;
        text-align: center;
        margin: 25px 5%;
        border: 0;
}

/* header */

.banner{
        width: 100vw;
        height: 90vh;
        min-height: 500px;
        padding: 0 3% 10%;
        background-image: url(../img/capa.png);
        background-size: cover;
        background-position: center;

}

.main-header{
        padding: 2%;
}

logo{
        display: block;
        width: 15%;
}

logo img{
        width: 100%;
}

.menu-responsivo{
        display: none;
}

.main-menu{
        width: 40%;
  
}

.main-menu a{
        color: #fff;
        font-size: 18px;
        margin-left: 10%;
        text-decoration: none;
       
}

.main-menu a:first-of-type{
       margin-left: 0;
       
}

.objetivo-empresa{
        margin: 60px 0 0 50%;
        width: 40%;
        color: #fff;
}

.objetivo-empresa h1{
        font-family: "open-sans-light";
        font-size: 40px;
        margin-bottom: 15px;
}


/* secao roxo */
.servico-empresa{
    background-color: #472562;
    color: #fff;
    height: 400px;
}

.texto{
        width: 90%;
        position: relative;
        left: 8%;
        margin: 50px 0;
}

.texto ul{
        width: 100%;
        text-align: center;
}

.texto li{
        padding: 2%;
        list-style-position: inside;
}

.imagem-device{
        width: 45%;
        height: 450px;
        background-image: url(../img/device.png);
        background-size: cover;
        background-position: center;
        margin-top: -50px;

}

/* secao projetos */
.projetos{
        text-align: center;
        padding: 5% 2%;
}

.projetos h2, .projetos p{
        margin-bottom: 15px;
}

.imagem-sistema{
        width: 90%;
        height: 400px;
        margin: 0px auto 0;
        background-image: url(../img/sistema.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 100px;
}

/* secao equipe */
.equipe{
        width: 50%;
        background-color: #886eaf;
        padding: 10% 2% 5%;
        color: #fff;
}

.equipe h2{
        font-family: "open-sans-italic";
        margin-bottom: 15px;
}

.equipe p{
        line-height: 25px;
}

/* secao colaboradores */
.colaboradores{
        width: 50%;
        padding: 10% 2% 5%;    
}

.foto {
        margin-top: -15px;
}

.foto img{
        width: 25%;
        height: 80px;
        border-radius: 50%;
}

.nome_funcao p{
        font-family: "open-sans-italic";
        font-size: 12px;
}

.texto-sobre-colaborador{
        font-size: 15px;
        width: 70%;
        margin: 15px 0;
}

.container-bullets{
        margin-top: 30px;
}


.bullets{
       display: inline-block;
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background-color: #6b6b6b;
       margin-right: 2%;
       
}

/* secao contato */
.contato{
        background-color: #4a2c63;
        padding: 10% 2%;
        color: #fff;
}

.formulario-contato{
        width: 45%;
}

.formulario-contato p {
        margin: 15px 0;
}

.formulario-contato form input[type="text"],
.formulario-contato form input[type="email"],
.formulario-contato form textarea{
        width: 100%;
        padding: 2%;
        font-family: "open-sans-light";
        margin-bottom: 10px;
}


.formulario-contato form input[type="text"],
.formulario-contato form input[type="email"]{
        height: 50px;
}


.localizacao{
        width: 45%;
        height: 430px;
}

.localizacao h2{
        margin-bottom: 15px;
}

.mapa{
        width: 100%;
        height: 100%;
}




/* ipad pro */
@media screen and (max-width: 1200px ){
        .flex-row-between{
                flex-direction: column;
        }

        logo{
                width: 25%;
                margin-bottom: 25px;
        }

        .main-menu{
                width: 50%;
              
        }

        .banner{
                height: 40vh;
        }

        .objetivo-empresa {
                margin: 80px auto;
                width: 60%;
                text-align: center;
        }

        .texto {
                width: 60%;
                position: static;
                margin: 50px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        .texto h2{
                margin: 20px 0;
        }

        .texto p{
                margin-bottom: 20px;
        }

        .imagem-device{
                display: none;
        }
   
}


/* ipad */
@media screen and (max-width: 800px ){
   
        .main-menu{
                width: 60%;
        }

        .objetivo-empresa {
                margin: 35px auto;  
        }

        .equipe {
                padding: 15% 2% 5%;
  
        }

        .colaboradores {
                padding: 15% 2% 5%;
        }

        .texto-sobre-colaborador{
                width: 100%;
        }


        .nome_funcao{
                width: 100%;
        }

        .foto img {
                width: 50%;
        }

        
        .localizacao{
                height: 490px;
        }
   
}

/* celular */

@media screen and (max-width: 600px){

        .flex-row-between{
                flex-direction: row;
        }

        .banner{
                height: 60vh;
        }

        .main-header{
                padding: 5% 2%;
        }

        .main-menu{
                display: none;
                width: 100%;
                background-color: #6253a4;
                padding: 2%;
                position: absolute;
                top: 70px;
                left:0;

        }

        .main-menu a{
                display: block;
                margin: 10% 0;
                text-align: center;
        
        }

        .menu-responsivo{
                display: block !important;
         
        }

        linha{
                display: block;
                width: 35px;
                height: 4px;
                margin-bottom: 5px;
                background-color: #ffffff;
                border-radius: 3px;
        }

        logo{
                width: 60%;
                margin: 1px 0 0 3%;
                
        }

        .objetivo-empresa{
                margin: 60px auto;
                width: 90%;
                color: #fff;
                text-align: center;
        }

        .objetivo-empresa h2{
                font-size: 30px;
        }

        .texto {
                width: 90%;
                margin: 20px auto;
        }

        .texto h2, .texto p{
                text-align: center;
        }

        .imagem-sistema{
               height: 200px;
               
        }

        .equipe{
                width: 100%;
                padding: 40% 2% 20%;
                text-align: center;

        }

        .colaboradores{
                width: 100%;
                margin: 0 auto;
              
        }

        .formulario-contato{
                width: 100%;
        }

        .localizacao{
                width: 100%;
                height: 300px;
                margin-bottom: 40px;
        }

       
      
}



